<div>
	<h2 class="text-xl font-semibold mb-4" mat-dialog-title>New User</h2>

	<form mat-dialog-content [formGroup]="createUserForm" class="flex flex-col gap-4 w-full">
		<mat-form-field class="w-full">
			<mat-label>Email</mat-label>
			<input class="w-full" matInput placeholder="Email" />
		</mat-form-field>
		<mat-form-field class="w-full">
			<mat-label>Email</mat-label>
			<input class="w-full" matInput placeholder="Email" />
		</mat-form-field>
		<div>
			<button mat-button>Create</button>
			<button mat-button>Cancel</button>
		</div>
	</form>
</div>
