@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Customizede Material Widh for modal to create or update data 
	usage in modal.config.ts
*/
.modal-mat-custom {
	width: 60%  ;
	@media (max-width: 768px) {
		width: 90%;
	}
}
