<mat-card class="mat-elevation-z5 p-4 rounded-lg flex flex-col gap-4">
	<mat-card-title class="p-5 flex justify-end items-center">
		<span>Manage Users</span>
	</mat-card-title>

	<div class="pl-5 flex flex-col md:flex-row md:justify-between items-center mb-2">
		<button (click)="showCreateUser()" mat-flat-button>
			<mat-icon fontIcon="add" class="font-bold" />
			<span class="pl-2">Add User</span>
		</button>
		<div>
			<mat-form-field class="pl-4 flex flex-col md:flex-row md:justify-between items-center mb-2">
				<mat-label>Search</mat-label>
				<input class="w-80" matInput placeholder="Search ..." [formControl]="searchControl" />
			</mat-form-field>
		</div>
	</div>

	<table mat-table matTableResponsive [dataSource]="dataSource">
		<ng-container matColumnDef="user_id">
			<th mat-header-cell *matHeaderCellDef>User ID</th>
			<td mat-cell *matCellDef="let row">{{ row.user_id }}</td>
		</ng-container>

		<ng-container matColumnDef="email">
			<th mat-header-cell *matHeaderCellDef>email</th>
			<td mat-cell *matCellDef="let row">{{ row.email }}</td>
		</ng-container>

		<ng-container matColumnDef="nickname">
			<th mat-header-cell *matHeaderCellDef>nickname</th>
			<td mat-cell *matCellDef="let row">{{ row.nickname }}</td>
		</ng-container>

		<ng-container matColumnDef="created_at">
			<th mat-header-cell *matHeaderCellDef>Created</th>
			<td mat-cell *matCellDef="let row">{{ row.created_at }}</td>
		</ng-container>

		<ng-container matColumnDef="updated_at">
			<th mat-header-cell *matHeaderCellDef>Updated</th>
			<td mat-cell *matCellDef="let row">{{ row.updated_at }}</td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef>Actions</th>
			<td mat-cell *matCellDef="let row" class="actions">
				<button mat-mini-fab (click)="showUpdate(row)">
					<mat-icon fontIcon="edit" />
				</button>

				<button mat-mini-fab (click)="onDelete(row)">
					<mat-icon fontIcon="delete" />
				</button>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>

	<mat-paginator
		class="m-4"
		showFirstLastButtons
		aria-label="Select page of users"
		[pageSizeOptions]="[5, 10, 25, 50]"
	/>
</mat-card>
